.black-overlay{
    width: 100%;
    height: 100%;
    margin-left: 0vp;
    margin-bottom: 0vp;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(51, 24, 36, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24vp;
    border-width: 1vp;
    border-color: #e9e9e9;
    background-color: #FFFFFF;
}

.div-title {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 16vp;
    font-weight: "HwChinese-medium";
    height: 29%;
    text-overflow: ellipsis;
}

.but {
    text-align: center;
    margin-top: 10vp;
    justify-content: center;
}

.but-close {
    width: 144vp;
    height: 40vp;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 20vp;
    border-radius: 20vp;
}

.text-close {
    font-size: 16fp;
    color: #ff007dff;
    font-weight: "sans-serif";
}